.education{
    margin: 20px;
    padding: 0px 50px;
    height: fit-content;
}

#journey{
    color: orange;
}

/* .education > h1{
    display: flex;
    justify-content: center;
} */

.education h2{
    color: orange;
}

.light #journey{
    color: skyblue;
}

/* code for the css functionality of the page is written in project.css as both are reflecting same designs. */