.aboutContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20;
    background: #232323ab;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px orange;
    padding: 10px;
    height: 90vh;
    overflow: scroll;
}

#about{
    padding: 15px;
}

.light .aboutContainer{
    background: #858585;
}

.light .aboutContainer{
    box-shadow: 0px 0px 10px 8px skyblue;
}

.aboutContainer::-webkit-scrollbar{
    display: none;
}

.aboutContainer h1{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 3px 5px 2px orange;
}

.light .aboutContainer h1{
    box-shadow: 0px 0px 10px 8px skyblue;
}

#abtMe{
    color: orange;
}

.light #abtMe{
    color: skyblue;
}

.profile{
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px orange;
    margin-bottom: 40px;
}

.light .profile{
    box-shadow: 0px 0px 10px 8px skyblue;
}

.aboutContainer h2{
    font-size: 28px;
    box-shadow: 3px 3px 5px 2px orange;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(
        -225deg,
        rgb(174, 189, 219) 0%,
        orange 29%,
        #f96999 67%,
        #fff800 100%
    );
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: name 3s alternate infinite;
}

.light #devInf{
    box-shadow: 3px 3px 5px 2px skyblue;
    background-image: linear-gradient(
        -225deg,
        rgb(174, 189, 219) 0%,
        skyblue 29%,
        #7c69f9 67%,
        #fff800 100%
    );
}
    
.aboutContainer p{
    text-align: center;
    font-family: cursive;
    font-size: 1em;
    width: 700px;
    margin: 10px 40px 20px 40px;
    text-wrap: wrap;
}

#knowMore{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.6s;
    color: orange;
    box-shadow: 1px 1px 2px orange;
}

.light #knowMore{
    color: skyblue;
    box-shadow: 1px 1px 2px skyblue;
}

#knowMore:hover{
    transition: 0.6s;
    box-shadow: 2px 2px 3px 1px rgb(98, 64, 1) ;
    transform: translateY(-7px);
    background-color: orange;
    color: black;
}

.light #knowMore:hover{
    box-shadow: 2px 2px 3px 1px skyblue ;
}